{% extends 'base.html.twig' %}

{% block title %}New Pointages{% endblock %}

{% block body %}
    <div class="d-flex justify-content-center w-100">
        <div class="card w-50 mt-5">
            <div class="card-header">
                <h2>Créer un Pointage</h2>
            </div>
            <div class="card-body">
                {{ include('pointages/_form.html.twig') }}
            </div>
            <div class="card-footer">
                <a href="{{ path('app_pointages_index') }}">
                    <button type="button" class="btn btn-light">Retour</button>
                </a>
            </div>
        </div>
    </div>
{% endblock %}
