{% extends 'base.html.twig' %}

{% block title %}New Pointages{% endblock %}

{% block body %}
    <h1>Create new Pointages</h1>

    {{ include('pointages/_form.html.twig') }}

    <a href="{{ path('app_pointages_index') }}">back to list</a>
{% endblock %}
