{% extends 'base.html.twig' %}

{% block title %}Edit Chantiers{% endblock %}

{% block body %}

    <div class="d-flex justify-content-center w-100">
        <div class="card w-50 mt-5" >
            <div class="card-header">
                <h2>Modifier un chantier</h2>
            </div>
            <div class="card-body">
                {{ include('chantiers/_form.html.twig', {'button_label': 'modifier'}) }}
            </div>
            <div class="card-footer">
                <a href="{{ path('app_chantiers_index') }}">
                    <button type="button" class="btn btn-light">Retour</button>
                </a>
            </div>
        </div>
    </div>
{% endblock %}
