{% extends 'base.html.twig' %}

{% block title %}New Chantiers{% endblock %}

{% block body %}
    <h1>Create new Chantiers</h1>

    {{ include('chantiers/_form.html.twig') }}

    <a href="{{ path('app_chantiers_index') }}">back to list</a>
{% endblock %}
