{% block navbar %}
    <nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
        <div>
            <img width="50%" class="m-2"
                    src="https://www.kalitics-btp.com/assets/images/SVG_vectoriel/Big/Blanc+orange.svg"
                 alt="Kaliptics">
        </div>
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarColor02">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Utilisateurs
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Chantiers</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Pointages</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}